*{
    padding: 0px;
    margin: 0px;
}

/*--------Header---------*/

body{
    overflow-x: hidden;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    background-image: url(https://www.kayak.com.ar/news/wp-content/uploads/sites/21/2020/11/blog_header-1-1-1920x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header__navbar{
    padding: 1rem;
    list-style-type: none;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
}
.header__navbar li{

    margin: 10px;
    font-size: 20px;
    padding: 15px; 
    color:#57686B ;
    text-decoration: none;
    width: 131px;
    height: 64px;
    object-fit: cover;
    object-position: 50% 50%;
    display: inline;
}

.section{
    background-color: #BEE5EB;
    font-style: italic;
    text-align: justify;
    color: darkblue;
    line-height: 30px;
}

.section__cuerpo{
    background-color: #BEE5EB;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly 10px;
    overflow-x: hidden;
    gap: 4rem;
}
.footer{
    background-color: #8CA8AC;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    color: rgb(3, 65, 94);
    text-shadow: rgb(113, 180, 255) 0 0 10px;
    align-items: center;
}
.h1-servicios{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 82, 221);
    background-color: #b1e6f3;
    text-shadow: rgb(113, 180, 255) 0 0 10px;
    text-align: center;
}

.article__servicios{
    color: darkblue;
    background-color: #BEE5EB;
    text-align: justify;
    line-height: 30px;
}
.h2__contacto{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 82, 221);
    background-color: #b1e6f3;
    text-shadow: rgb(113, 180, 255) 0 0 10px;
    text-align: center; 
}
.section__cotiza{
    background-color: #BEE5EB;
    font-style: italic;
    text-align: justify, center;
    color: darkblue;
    line-height: 25px;
}
.h1__logo{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 82, 221);
    text-shadow: rgb(113, 180, 255) 0 0 10px;
    text-align: center; 
}
.article__normativa{
    color: darkblue;
    background-color: #BEE5EB;
    text-align: justify;
    line-height: 30px;
    list-style: circle;
}
.texto{
    padding: 10 px;
}